

.banner{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    
}

.banner > h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}

.banner > p {
    font : 300 1.4vmax "Lucida Sans"
   
}

.banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 ;
    padding: 1vmax;
    transition: all 0.5s;
    font: 500 1vmax "Roboto";
}

.banner > a > button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
  
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top: 0%;
    left : 0;
    clip-path: polygon(100% 72%, 0% 100%, 100% 100%);
    max-width: 100%;

}

.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgba(0, 0, 0, o.7);

}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2vmax auto;
    width: 80vw;
    justify-content: center;
    max-width: 100%;
}


.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard > img {
    width: 14vmax;
    display: flex;
    justify-content: flex-start;

}
.productCard > div > span {
    margin: 0.5vmax;
    font : 300 0.7vmax "Roboto";
}

.productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
}

.productCard > span {
    margin: 0.5vmax 0.5vmax;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;

}

.productCard:hover {
    box-shadow: rgba(4, 109, 20, 0.477) 0px 1px 4px;
    transform: translateY(-1vmax);
}

@media screen and (max-width : 600px){
    .productCard> p{
        font-size: 1.7vmax;
    }
    
    .productCard > div {
        margin:  0vmax;
        display: block;

    }

    .productCard> span {
        font-size: 1.5vmax;

    }

    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}