.products{
    display: flex;
    flex-wrap: wrap;
    margin: 8vw;
    margin-top: 2vw;
    align-items: center;
    justify-content: center;
  
  
   
}

.productHeading{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
   padding: 3vw 5vw;
    margin-top: 110px;
    font-size: 40px;
 

}

h1{
    color: rgb(0, 67, 0);
}


.paginationBox{

    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination{
    display: flex;
    align-items: center;

    gap: 2vw;
    

}

.page-item{
    list-style: none;
    background-color: rgb(6, 78, 2);
    padding: 1.5vw;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s;
    
   


}

.page-link{
    text-decoration: none;
    color:white ;
    font-family: Roboto;
   
}


.page-item:hover{
    background-color: green;

}

.pageItemActive{
    background-color: rgb(255, 255, 255);
}

.pageLinkActive{
    color: rgb(6, 78, 2);
    
}

.filterBox>p{
    color: rgb(4, 76, 4);
    font-family: Roboto;
}

.filterBox{
    width: 8vmax;
    position: absolute;
    top: 20vmax;
    left: 2vmax;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5vw 1.5vw;

}

.filterBox>h3{
    font-family: Roboto;
    color: rgb(4, 76, 4);
    position: relative;
    top: -2vw;
    cursor: pointer;

}


.categoryyBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  

}

.categoryyBox>p{
    color: rgb(4, 76, 4);
    font-family: Roboto;
 
}

.liNotClicked{
    list-style: none;
    color: rgba(0, 0, 0, 0.628);
    cursor: pointer;
    margin: 5px;
    font-family: Roboto;

}

.categoryLink:hover {
    color:  rgb(4, 76, 4);
    
}

.categoryLink>link:focus {
    color:  red;
    
}

.liClicked{

    list-style: none;
    color:  red;
    cursor: pointer;
    margin: 5px;
    font-family: Roboto;

}

.RatingClass{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}




@media screen and (max-width : 900px){

    .filterBox{
        position: static;
        margin-bottom: 30px;
        margin-top: -20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 30%;
       
       
    }
    .filterDiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }




}
